.ipynb_checkpoints
alto_tools
application
data
images
literature
possible_subjects
reporting
rules_and_regulations

journal*
notes*

*.aux
*.bbl
*.bib
*.blg
*.log
*.pdf
*.synctex.gz
*.toc
*.tex

thesis.py
explore.ipynb
