.ipynb_checkpoints
alto_tools
application
data
images
literature
possible_subjects
reporting
rules_and_regulations

journal*
thesis.pdf
thesis.tex

*.aux
*.bbl
*.bib
*.blg
*.log
*.synctex.gz
*.toc

thesis.py
explore.ipynb
